
/* global.css */
@font-face {
    font-family: 'Hack';
    src: url('fonts/Hack-Bold.ttf') format('truetype');
}

html * {
    box-sizing: border-box;
}

html, body {
    background-color: #0A1E24;
    color: #ECEFC1;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Hack', monospace;
}

body {
    padding: 32px 32px 64px 32px;
    @media(max-width: 420px) {
        padding: 32px 16px 48px 16px;
    }
}

a {
    color: #67A0CD;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
    margin: 8px 0;
    font-size: 16px;
    line-height: 1.5;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.navigation > * {
    padding-right: 16px;
}

.directory {
    cursor: pointer;
    color: #0E548B
}

.directory:hover {
    text-decoration: underline;
}

.soundLink {
    color: #ADCAB8;
    cursor: pointer;
}

.subdirectory { display: none; flex-wrap: wrap; }
.subdirectory > * { padding-right: 32px }

.footer {
    position: fixed;
    background-color: #0A1E24;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 32px;
    text-align: justify;
    @media(max-width: 420px) {
        padding: 16px;
    }
}