/* global.css */

@import url('./styles/colors.css');

@font-face {
    font-family: 'Hack';
    src: url('fonts/Hack-Bold.ttf') format('truetype');
}

html * {
    box-sizing: border-box;
}

html, body {
    background-color: var(--terminal-background);
    color: var(--font-color);
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Hack', monospace;
}

body {
    padding: calc(var(--baseline)*2) calc(var(--baseline)*2) calc(var(--baseline)*4) calc(var(--baseline)*2)
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
    margin: calc(var(--baseline)/2) 0;
    font-size: 16px;
    line-height: 1.5;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--baseline);
}
.navigation > * {
    padding-right: var(--baseline);
}

.directory {
    cursor: pointer;
    color: var(--directory-color);
}

.directory:hover {
    text-decoration: underline;
}

.soundLink {
    color: var(--wav-color);
    cursor: pointer;
}

.subdirectory { display: none; flex-wrap: wrap; }
.subdirectory > * { padding-right: calc(var(--baseline)*2) }

.footer {
    position: fixed;
    background-color: var(--terminal-background);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--baseline) calc(var(--baseline)*2);
    text-align: justify;
}

@media screen and (max-width: 420px) {
    .hideOnMobile {
        display: none;
    }
    .body {
        padding: calc(var(--baseline)*2) var(--baseline)  calc(var(--baseline)*3) var(--baseline) ;
    }

    .footer {
        padding: var(--baseline) ;
    }
}

